<html>
    <head>
        <title>imaginary point site</title>
    </head>


    <body>
        <h1>imaginary point site</h1>

        <h3>Username: {{user.username}}</h3>
    
    
        <h2>your imaginary points</h2>
        {{ points.points }}
        
    
        {% if user.is_staff %}
            <form action='generate/' method="POST">
            <input type="submit" value="point generator"/>
        {% endif %}

        <h2>send imaginary points</h2>
            


        <form action="send/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            To:
            <select name="to">
            {% for user in users %}
                <option value="{{user.username}}">{{user.username}}</option>
        {% endfor %}
            </select><br/>

            <label for="amount">amount of imaginary points you want to send</label><br/>
            <input type="number" id="amount" name="amount">

            <input type="submit" value="Send"/>
        </form>
    
    

        <form action='logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>
    </body>




</html>