<html>
    <head>
        <title>imaginary point site</title>
    </head>


    <body>
        <h1>imaginary point site</h1>
    
    
        <h2>your imaginary points</h2>
        {{ points.points }}
        
    
        <h2>send imaginary points</h2>
    
        <form action="send/" method="GET" enctype="multipart/form-data">
            To:
            <select name="to">
            {% for user in users %}
                <option valuse="{{user.username}}">{{user.username}}</option>
        {% endfor %}
            </select><br/>

            <label for="amount">amount of imaginary points you want to send</label><br/>
            <input type="number" id="amount" name="amount">

            <input type="submit" value="Send"/>
        </form>
    
    

        <form action='logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>
    </body>




</html>